<a href="https://colab.research.google.com/github/wazs555/Data_mining_project/blob/master/data_mining_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [6]:
data = pd.read_csv('/content/drive/My Drive/데이터마이닝/diabetes.csv')
data.describe().T

                           count       mean  ...      75%     max
Pregnancies               2000.0    3.70350  ...    6.000   17.00
Glucose                   2000.0  121.18250  ...  141.000  199.00
BloodPressure             2000.0   69.14550  ...   80.000  122.00
SkinThickness             2000.0   20.93500  ...   32.000  110.00
Insulin                   2000.0   80.25400  ...  130.000  744.00
BMI                       2000.0   32.19300  ...   36.800   80.60
DiabetesPedigreeFunction  2000.0    0.47093  ...    0.624    2.42
Age                       2000.0   33.09050  ...   40.000   81.00
Outcome                   2000.0    0.34200  ...    1.000    1.00

[9 rows x 8 columns]

In [0]:
print(data.values[:,-1])
cnt_1 = 0
cnt_0 = 0
for i in data.values[:,-1]:
  if i == 1:
    cnt_1 = cnt_1 + 1
  else:
    cnt_0 = cnt_0 + 1
print('당뇨에 양성인 사람의 수', cnt_1, '명')
print('당뇨에 음성인 사람의 수', cnt_0, '명')

[1. 0. 1. ... 0. 1. 0.]
당뇨에 양성인 사람의 수 684 명
당뇨에 음성인 사람의 수 1316 명